<div>
	<div class="input-group">
		<input class="form-control" type="number" ng-model="data.number" placeholder="{{'ID'|translate}}" style="width: 35% !important;"/>
		<input class="form-control" ng-model="data.value" placeholder="{{'Option'|translate}}" style="width: 50% !important"/>
		<button class="btn btn-default pull-left" style="width: 15% !important" ng-click="addDHCPOption()"><i class="fa fa-plus"></i></button>
	</div>
	<div class="input-group" style="margin-top: 5px; width: 100%" ng-repeat="d in list track by $index">
		<div class="well-sm form-control" style="width: 35% !important; border:1px solid #e3e3e3; color:#858585">{{d.slice(0,d.indexOf(','))}}</div>
		<div class="well-sm form-control" style="width: 50% !important; border:1px solid #e3e3e3; color:#858585">{{d.slice(d.indexOf(',')+1)}}</div>
		<button class="btn btn-default pull-left" style="width: 15% !important" ng-click="deleteDHCPOption(d)"><i class="fa fa-trash-o"></i></button>
	</div>
</div>
