<div>
	<div class="row juci-list-editor"> 
		<div ng-class="{ 'col-xs-12 col-sm-9': !hideButtons, 'col-xs-12': hideButtons }">
			<i class="fa fa-spinner fa-spin fa-2x" ng-show="!items"></i>
			<div class="list-group">
				<a ng-show="items" href="" class="list-group-item row" ng-repeat="i in items track by $index" ng-click="onListEditItem(i)" ng-class="{active: item === i}"><div class="row">{{getItemTitle({"$item": i })}}</div>
					<div class="content" ng-hide="item">
						<div class="col-xs-12 col-sm-9">
							<div ng-repeat="status in i.$statusList track by $index">
								<juci-config-line title="{{status.label}}">
									<label>{{status.value}}</label>
								</juci-config-line>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<button ng-repeat="button in i.$buttons track by $index" class="btn btn-{{buttons.type || 'default'}}" ng-click="button.on_click()">{{button.label}}</button>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12" ng-hide="hideButtons" >
			<div class="hidden-xs btn-group-vertical" style="width: 100%;" >
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable || !items}" translate>Delete</button>
			</div>
			<div class="btn-group visible-xs-block" style="width: 100%;padding-left:20px;" >
				<button class="btn btn-lg btn-default" style="padding:10px;" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" style="padding:10px;" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable || !items}" translate>Delete</button>
			</div>
		</div>
	</div>
	<div style="clear: both; margin-top: 10px;"></div>
	<hr class="visible-xs-block" style="color:grey;" />
	<div ng-show="item">
		<button class="btn btn-defaut" ng-click="hideEditor()">hide Editor</button>
		<div dynamic="dynamicHtml"/>
	</div>
</div>
