<div>
	<div class="row juci-list-editor"> 
		<div ng-class="{ 'col-xs-12 col-sm-9': !hideButtons, 'col-xs-12': hideButtons }">
			<i class="fa fa-spinner fa-spin fa-2x" ng-show="!items"></i>
			<div class="list-group">
				<div ng-show="items" href="" class="list-group-item row" style="padding: 0 15px;" ng-repeat="i in items track by $index" ng-class="{active: item === i}">
					<div ng-click="onListEditItem(i)" class="row" style="position:relative;width:100%;margin:0px;padding: 10px 0 10px 0; text-align: left; cursor:pointer;">
						<h3>{{getItemTitle({"$item": i })}}</h3>
						<i ng-show="showIcon" class="{{getIcon(iconStatus({$item:i}))}}" style="float:right;position:relative;top:-40px;"></i>
					</div>
					<div class="content" ng-hide="item">
						<div class="col-xs-12 col-sm-9">
							<div class="row" ng-repeat="status in i.$statusList track by $index">
								<div class="col-xs-12 col-sm-6">{{status.label}}</div>
								<label class="col-xs-12 col-sm-6">{{status.value}}</label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<button class="btn btn-default" style="width:100%;margin-bottom:5px;" ng-click="onListEditItem(i)">{{'Edit'|translate}}</button>
							<button class="btn btn-default" ng-show="sortable" style="width:100%;margin-bottom:5px;" ng-click="onMoveUp(i)">{{'Move Up'|translate}}</button>
							<button class="btn btn-default" ng-show="sortable" style="width:100%;margin-bottom:5px;" ng-click="onMoveDown(i)">{{'Move down'|translate}}</button>
							<button ng-repeat="button in i.$buttons track by $index" style="width:100%;margin-bottom:5px;" style="margin:5px;" class="btn btn-{{buttons.type || 'default'}}" ng-click="button.on_click(i)">	
								{{button.label}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12" ng-hide="hideButtons" >
			<div class="hidden-xs btn-group-vertical" style="width: 100%;" >
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable || !items}" translate>Delete</button>
			</div>
			<div class="btn-group visible-xs-block" style="width: 100%;padding-left:20px;" >
				<button class="btn btn-lg btn-default" style="padding:10px;" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" style="padding:10px;" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable || !items}" translate>Delete</button>
			</div>
		</div>
	</div>
	<div style="clear: both; margin-top: 10px;"></div>
	<hr class="visible-xs-block" style="color:grey;" />
	<div ng-show="item">
		<button class="btn btn-default" style="margin-bottom: 5px;" ng-click="hideEditor()">hide Editor</button>
		<div dynamic="dynamicHtml"/>
	</div>
</div>
