<div>
	<div class="row juci-list-editor">
		<div ng-class="{ 'col-xs-12 col-sm-9': !hideButtons, 'col-xs-12': hideButtons }">
			<i class="fa fa-spinner fa-spin fa-2x" ng-show="!items"></i>
			<div class="list-group">
				<div ng-show="items" href="" class="list-group-item row no-padding" ng-repeat="i in items track by $index">
					<div ng-click="onListEditItem(i)" class="row list-editor-item-title" ng-class="{'selected': (item === i && !hide)}">
						<h3>{{getItemTitle({"$item": i })}}</h3>
						<i ng-show="showIcon && !sortable" class="{{getIcon(iconStatus({$item:i}))}}"></i>
					</div>
					<div ng-show="sortable" class="btn-group-horizontal btn-group-sm move-buttons">
						<button type="button" ng-click="onMoveUp(i)" ng-class="{'disabled':moveDisabled}" class="btn btn-default"><i class="fa fa-angle-up"></i></button>
						<button type="button" ng-click="onMoveDown(i)" ng-class="{'disabled':moveDisabled}" class="btn btn-default"><i class="fa fa-angle-down"></i></button>
					</div>
					<div class="content" ng-hide="!hide && dynamicHtml">
						<div class="col-xs-12 col-sm-9">
							<div class="row status-label" ng-repeat="status in i.$statusList track by $index">
								<label class="col-xs-12 col-sm-6">{{status.label}}</label>
								<div class="col-xs-12 col-sm-6">{{status.value}}</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<button class="btn btn-default edit-button" ng-show="editable !== false && editor" ng-class="{'disabled': !canEdit(i)}" ng-click="onEditAndMove(i)">{{editText || 'Edit'|translate}}</button>
							<button ng-repeat="button in i.$buttons track by $index" class="btn btn-{{button.type || 'default'}} action-button" ng-click="button.on_click(i)">
								{{button.label}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12" ng-hide="hideButtons" >
			<div class="hidden-xs btn-group-vertical add-delete-buttons">
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" ng-click="onListRemoveItem(item)" ng-class="{disabled: hide || !editable || !items}" translate>Delete</button>
			</div>
			<div class="btn-group visible-xs-block add-delete-buttons-small">
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable || !items}" translate>Delete</button>
			</div>
		</div>
	</div>
	<hr class="visible-xs-block" />
	<div id="editor" ng-hide="hide || !dynamicHtml" class="juci-list-editor-editor">
		<button class="btn btn-default" ng-show="editor" ng-click="hideEditor()">{{'Hide Editor'|translate}}</button>
		<div ng-show="item" dynamic="dynamicHtml"><div/>
	</div>
</div>
