<div>
	<div class="input-group">
		<input class="form-control dhcp-input-id" type="number" ng-model="data.number" placeholder="{{'ID'|translate}}" />
		<input class="form-control dhcp-input-option" ng-model="data.value" placeholder="{{'Option'|translate}}" />
		<button class="btn btn-default pull-left dhcp-input-add" ng-click="addDHCPOption()"><i class="fa fa-plus"></i></button>
	</div>
	<div class="input-group dhcp-input-entries" ng-repeat="d in list track by $index">
		<div class="well-sm form-control dhcp-input-well-id" >{{d.slice(0,d.indexOf(','))}}</div>
		<div class="well-sm form-control dhcp-input-well-option">{{d.slice(d.indexOf(',')+1)}}</div>
		<button class="btn btn-default pull-left dhcp-input-add" ng-click="deleteDHCPOption(d)"><i class="fa fa-trash-o"></i></button>
	</div>
</div>
