<form name="ruleForm" class="form-horizontal" novalidate>
	<juci-config-lines>
		<juci-config-line title="{{'Time Frame'|translate}}">
			<juci-select ng-model="data.selectedTimeFrame" on-change="onChangeDays($value)" ng-items="allTimeFrames" placeholder="{{'Preselected Days'|translate}}"></juci-select>
		</juci-config-line>
		<juci-config-line title="{{'Days'|translate}}" no-pull >
			<div class="row" ng-class="{'field-error': schedule.days.error}" >
				<div class="col-xs-6 " ng-repeat="day in allDayNames">
					<div class="checkbox checkbox-info">
						<input type="checkbox" ng-disabled="(data.selectedTimeFrame != 'individual')" ng-model="day.checked" />
						<label><strong>{{day.label}}</strong></label>
					</div>
				</div>
			</div>
		</juci-config-line>
		<juci-config-line title="{{'Time'|translate}}" no-pull>
			<div class="row" ng-class="{'field-error': validateTimespan(schedule.time_start+'-'+schedule.time_end) || validateTime(schedule.time_start) || validateTime(schedule.time_end)}" data-toggle="tooltip" data-placement="top" title="{{model.error}}">
				<div class="col-xs-2">
					<label translate>from</label>
				</div>
				<div class="col-xs-4">
					<input class="form-control" type="text" ng-model="schedule.time_start" placeholder="09:00" style="min-width: 4.4em !important"/>
				</div>
				<div class="col-xs-2">
					<label translate>to</label>
				</div>
				<div class="col-xs-4">
					<input class="form-control" type="text" ng-model="schedule.time_end" placeholder="09:00" style="min-width: 4.4em !important"/>
				</div>
			</div>
		</juci-config-line>
	</juci-config-lines>
</form>
