<div>	
	<div class="input-group">
		<button ng-click="expandSizeRange()" class="btn btn-sm btn-default expand-size-range pull-right">
			<i class="fa fa-caret-left" ng-show="data.isRange"></i>
			<i class="fa fa-caret-right" ng-show="!data.isRange"></i>
		</button>
		<input type="number" ng-model="data.to" class="form-control input-range-width pull-right" placeholder="To" ng-show="data.isRange"/>
		<input type="number" ng-model="data.from" class="form-control input-range-width pull-right" placeholder="From" />
	</div>
</div>
