@theme-success-color: #5cb85c;
@theme-primary-color: #F1C100;
@theme-warning-color: #ffa500;
@theme-error-color: #E62f39;
@theme-disabled-color: #34485d;
@theme-primary-text-color: #FFF;
@theme-heading-color: #66989C;
@theme-link-color: #34485d;
@theme-detail-color: #E62f39;
@theme-error-background-color: #f2dede;
@theme-error-border-color: #ebccd1;
@theme-div-error-color: #a94442;
@theme-footer-gradient-start: #d6d6d6;
@theme-footer-gradient-end: #f9f9f9;
@theme-footer-background: white;//darken(@theme-footer-base-color-start, 10%);
@theme-footer-gradient-middle: 27%;
@theme-border-color: #ccc;
@theme-shadow-color: #bbb;
@theme-navigation-text-color: #444;
@theme-navigation-background: white;
@theme-navigation-active-background: white;
@theme-navigation-active-background-mobile: #ddd;
@theme-navigation-active-color: #e62f39;
@theme-navigation-active-overline: #e62f39;
@theme-navigation-color: #111;
@theme-navigation-toggle-background: #ddd;
@theme-overview-status-background: rgba(0,0,0,0.8);
@theme-overview-text-color: white;
@theme-overview-background-color: black;
