@font-face {
	font-family: 'juci-icons';
	src: url('../fonts/juci-icons.ttf') format('truetype'),
		url('../fonts/juci-icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

i[class^="juci-"], i[class*=" juci-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'juci-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	display:inline-block;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.juci-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}
.juci-2x{font-size:2em}
.juci-3x{font-size:3em}
.juci-4x{font-size:4em}
.juci-5x{font-size:5em}
.juci-spin {
	animation: juci-spin 2s linear infinite;
}

@keyframes juci-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* ##### \0000 to \000f ###### */
.juci-minus:before {
	content: "\0000";
}
.juci-plus:before {
	content: "\0001";
}
.juci-circle-minus:before {
	content: "\0002";
}
.juci-circle-plus:before {
	content: "\0003";
}
.juci-reload:before {
	content: "\0004";
}
.juci-stop:before {
	content: "\0005";
}
.juci-play:before {
	content: "\0006";
}
.juci-pause:before {
	content: "\0007";
}
.juci-circle:before {
	content: "\0008";
}

/* ##### \0010 to \001f ###### */
.juci-circle-right:before {
	content: "\0010";
}
.juci-triangle-right:before {
	content: "\0011";
}
.juci-triangle-left:before {
	content: "\0012";
}
.juci-triangle-down:before {
	content: "\0013";
}
.juci-triangle-up:before {
	content: "\0014";
}
.juci-question:before {
	content: "\5c";
}
.juci-help:before {
	content: "\0015";
}
.juci-expand:before {
	content: "\0016";
}

/* ##### \0020 to \002f ###### */
.juci-bridge:before {
	content: "\002c";
}
.juci-usb-dongle:before {
	content: "\002d";
}
.juci-adsl:before {
	content: "\0021";
}
.juci-vdsl:before {
	content: "\0022";
}
.juci-world:before {
	content: "\0023";
}
.juci-network:before {
	content: "\0024";
}
.juci-usb:before {
	content: "\0025";
}
.juci-ethernet:before {
	content: "\0026";
}
.juci-bluethooth:before {
	content: "\0027";
}
.juci-radio:before {
	content: "\0028";
}
.juci-radio-arrow:before {
	content: "\0029";
}
.juci-radio-side:before {
	content: "\002a";
}
.juci-wps:before {
	content: "\002b";
}

/* ##### \0030 to \003f ###### */
.juci-wifi:before {
	content: "\0033";
}
.juci-wifi-empty:before {
	content: "\0030";
}
.juci-wifi-low:before {
	content: "\0031";
}
.juci-wifi-mid:before {
	content: "\0032";
}
.juci-wifi-high:before {
	content: "\0033";
}
.juci-wifi-2-empty:before {
	content: "\0034";
}
.juci-wifi-2-low:before {
	content: "\0035";
}
.juci-wifi-2-mid:before {
	content: "\0036";
}
.juci-wifi-2-high:before {
	content: "\0037";
}
.juci-wifi-2-full:before {
	content: "\0038";
}
.juci-wifi-warning-circle:before {
	content: "\0039";
}
.juci-wifi-warning-triangle:before {
	content: "\003a";
}
.juci-wifi-dot:before {
	content: "\003a";
}
/* ##### \0040 to \004f ###### */
.juci-smart-phone:before {
	content: "\0040";
}
.juci-tablet:before {
	content: "\0041";
}
.juci-laptop:before {
	content: "\0042";
}
.juci-desktop:before {
	content: "\0043";
}
.juci-game:before {
	content: "\0044";
}
.juci-printer:before {
	content: "\0045";
}
.juci-webcam:before {
	content: "\0046";
}
.juci-router:before {
	content: "\0047";
}
.juci-smart-watch:before {
	content: "\0048";
}
.juci-tv:before {
	content: "\0049";
}
.juci-mobile:before {
	content: "\004a";
}
.juci-phone:before {
	content: "\004b";
}
.juci-phone-down:before {
	content: "\004c";
}
/* ##### \0050 to \005f ###### */
.juci-folder:before {
	content: "\0050";
}
.juci-settings:before {
	content: "\0051";
}
.juci-slider-on:before {
	content: "\0052";
}
.juci-slider-off:before {
	content: "\0053";
}
.juci-share:before {
	content: "\0054";
}
.juci-cloud:before {
	content: "\0055";
}
.juci-warning-triangle:before {
	content: "\0056";
}
.juci-edit:before {
	content: "\0057";
}
.juci-list:before {
	content: "\0058";
}
.juci-calendar:before {
	content: "\0059";
}
.juci-trash:before {
	content: "\005a";
}
.juci-profile:before {
	content: "\005b";
}
