@font-face {
    font-family: 'juci-icons';
    src: url('../fonts/juci-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

i[class^="juci-"], i[class*=" juci-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'juci-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.j-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}
.j-2x{font-size:2em}
.j-3x{font-size:3em}
.j-4x{font-size:4em}
.j-5x{font-size:5em}

.juci-bridge:before {
    content: "\004c";
}
.juci-wifi:before {
    content: "\0042";
}
.juci-share:before {
    content: "\0072";
}
.juci-usb:before {
    content: "\0074";
}
.juci-phone:before {
    content: "\006d";
}
.juci-calendar:before {
    content: "\0075";
}
.juci-VDSL:before {
    content: "\0062";
}
.juci-ADSL:before {
    content: "\0063";
}
.juci-ethernet:before {
    content: "\004a";
}
.juci-profile:before {
    content: "\0079";
}
.juci-wps:before {
    content: "\0068";
}
.juci-world:before {
    content: "\006e";
}
.juci-settings:before {
    content: "\0068";
}
.juci-network:before {
    content: "\0071";
}
.juci-web:before {
    content: "\006e";
}
.juci-edit:before {
    content: "\0049";
}
.juci-wifi-good:before {
    content: "\0042";
}

.spin {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.juci-wifi-medium:before {
    content: "\0046";
}
.juci-wifi-bad:before {
    content: "\0045";
}
.spin {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

