/* this file contains small classes for widgets that do not require their own file */

.juci-brightness-bar {
	width: 20%;
	float: left;
	height: 30px; 
}
.clickable {
	cursor: pointer;
}
.changes-edit-pane {
	max-height: 300px;
	overflow: auto;
}

.juci-expandable-title {
	font-size: 1.5em;
	padding-top: 0.4em;
	font-weight: bold;
	font-family: inteno;
}
